:root {
  font-size: clamp(16px, 2vmin, 20px);
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

a {
  color: #00B7FF;
}

a.list-link {
  color: inherit;
  text-decoration: none;
}
a.list-link:hover {
  color: #00B7FF;
  text-decoration: underline;
}

/* Main Container */
.container {
  display: flex;
  gap: 1rem;
}

/* Sidebar Content */
.sidebar-container {
  max-width: 20%;
  padding: 1.5rem;
  padding-left: .8rem;
}

.sidebar-nav {
  padding: 0;
  list-style: none;
}


/* Main Content */
main {
  max-width: 80%;
}

main li{
  margin: .5rem 0;
  font-size: 1.05em;
}

.detail-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.details-list {
  padding: 0;
  list-style: none;
}

.operation-container {
  display: flex;
  flex-direction: column;
}

.operation-container a {
  color: rgb(182, 9, 0);
}

/* Slightly smaller and faded text */
.faded {
  font-size: .8em;
  color: rgb(96, 96, 96);
}
